*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid yellow; /* Esto debería mostrar un borde rojo alrededor de todo el body */
}


#contenedor {
  border: 2px solid orange;
  height: 200px; /* Cambiado de 200px a auto para adaptarse a los dos carruseles */
  overflow: hidden;
  position: relative; /* height: 100vh; Asignamos el 100% de la altura de la ventana para que todo sea visible */
}


/* Carrusel manual */
.carrusel {
  border: 1px solid red;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none; /* Mantenemos ocultos por defecto */
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

/* Mostramos el primer carrusel por defecto */
#carr1 {
  display: block;
  opacity: 1;
  z-index: 1;
}

.carrusel:target {
  display: block; /* Mostramos el carrusel cuando es el objetivo del enlace */
  opacity: 1;
  z-index: 1;
}

.item-carrusel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  transform: translateY(-50%);
  z-index: 2;
}

.arrow-left, .arrow-right {
  display: block;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.arrow-left:hover, .arrow-right:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.arrows i {
  font-style: normal;
}

/* Colores específicos de cada slide */
#c1 {
  background-color: aqua;
}
#c2 {
  background-color: brown;
}
#c3 {
  background-color: chartreuse;
}